body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.H2Componente{
  /* color: blue; */
  margin-left: 40vw;
  margin-top: 8vw;
}

.DivSubirArchivo{
  margin-left: 10vw;
}

.Lista{
  margin-left: 10vw !important ;
  margin-right: 40vw !important;
  margin-bottom :1vw !important ;
}

.Boton{
  margin-right: 1vw !important;
}

.GridBoton{
  margin-top: 2vw;
}

.Radio{
  margin-left: 5vw !important ;
  margin-bottom :1vw !important ;

}

.Loader{
  margin-left: 40vw;
}


.LoaderLabel{
  margin-left: 35vw;
}

.Alert{
margin-top: 4vw;  
width:50vw;
margin-left: 25vw;  
}

.Link{
  text-decoration: none;
  color: white;
  margin-left: 2vw;
}

.LinkMenu{
  text-decoration: none !important;
}

.MaterialTable{
  Width:80%;
  margin-left: 10vw;
  margin-top: 8vw;

}

.RangoFechas{
  margin-top: 6vw;
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  margin-left: 15vw;
}

.Fecha{

 width: 25vw;
}

.Lista{
  width: 35vw !important;

}
.H2ComponenteConsulta{
 margin-left: 40vw;
  margin-top: 7vw;
  margin-bottom: -6vw;
}

.FormMantenimiento{
  width: 30vw;
  margin-left: 30vw;
}

.GridBotonConsulta{
  margin-top: 2vw;
  margin-bottom: -5vw;
}

.ListaConsulta{
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  margin-left: 5vw;
}
.ListaConsultaItem{
  width: 25vw !important;

}
.LabelLogin{
  text-align: center;
  margin-top: -2vw !important;
  margin-bottom: 2vw !important;
}

.AlertCambiar{
  width:400px !important;
  margin-left: 0vw !important;
}
.H2ComponenteConsultaTotales{
  margin-top: 2.5vw ;
  margin-left: 40vw;
  margin-bottom: -5vw;
}